@import "base/variables";
@import "base/mixins";
@import "blocks/container";
@import "blocks/swiper";
@import "blocks/btn";
@import "blocks/header";
@import "blocks/hero";

html,body{
    box-sizing: border-box;
    height: 100%;
    position: relative;
}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
*, *::before, ::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}


.hamburger{
	display: none;
}


.page {
	flex: 1 0 auto;
}

footer{
    flex-shrink: 0
}




@import "base/media";