.btn{
    color:#fff;
    width: 155px;
    height: 45px;
    background: $main-color;
    border-radius: 5px;
    margin-top: 11px;
    transition: box-shadow .3s;
    &:hover{
        box-shadow: 0px 0px 5px 0px rgba(8, 1, 1, 0.603);
    }
    
}

.hero__btn{
    font-weight: 500;
    @include adaptiv-font (18, 12, 18);
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    background: $accent;
    margin-bottom: 65px;
    transition: box-shadow .2s;
    &:hover{
        box-shadow: 0px 0px 5px 0px rgba(8, 1, 1, 0.603);
    }
}
