.btn{
    cursor: pointer;
    color:#fff;
    width: 155px;
    height: 45px;
    background: $main-color;
    border-radius: 5px;
    margin-top: 11px;
    border:none;
}

.hero__btn{
    font-weight: 500;
    font-size: 18px;
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    background: $accent;
    margin-bottom: 70px;
}