.btn{
    cursor: pointer;
    color:#fff;
    width: 155px;
    height: 45px;
    background: $main-color;
    border-radius: 5px;
    margin-top: 11px;
    border:none;
    transition: 0.2s all;
    &:hover{
        // background-color: $accent;
        box-shadow: 0px 0px 5px 0px rgb(8, 1, 1);
        transition: 0.2s all;
    }
    
}

.hero__btn{
    font-weight: 500;
    font-size: 18px;
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    background: $accent;
    margin-bottom: 65px;
    transition: 0.2s all;
    &:hover{
        // background-color: $accent;
        box-shadow: 0px 0px 5px 0px rgb(8, 1, 1);
        transition: 0.2s all;
    }
}
