.header {
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
    &__wrapper {
        display: flex;
        padding: 3px 0 7px 0;
    }

    &__logo {}

    &__contacts {
        font-size: 16px;
        padding: 16px 0 0 50px;
        margin-right: 40px;
    }

    &__phone {
        display: block;
        margin-top: 3px;

    }
}
.logo {
}
.nav {
    
    &__list {
        min-width: 670px;
        display: flex;
        justify-content: space-around;
        margin-left: 12px;
        padding-top: 30px;
    }

    &__item {

        // margin-right: 43px;

    }
    &__link{
        &:hover{
            text-shadow: 0px 0px 0.3px rgb(0, 0, 0);
        }
    }
}