.header {

    &__wrapper {
        display: flex;
    }

    &__logo {}

    &__contacts {
        font-size: 16px;
        padding: 16px 0 0 50px;
        margin-right: 40px;
    }

    &__phone {
        display: block;
        margin-top: 3px;

    }
}
.logo {
}
.nav {
    
    &__list {
        min-width: 670px;
        display: flex;
        justify-content: space-around;
        margin-left: 12px;
        padding-top: 30px;
    }

    &__item {

        // margin-right: 43px;

    }
}
.button {

}
