.hero {
    padding-top: 142px;
 
    &__wrapper {
        display: flex;
    }

    &__slider-block {
        min-width: 550px;
        margin-right: 112px;

    }

    &__services {
        color: $main-color;
        width: 605px;
    }
    
    &__services-title {
        font-weight: bold;
        font-size: 48px;
        margin-bottom: 35px;
        text-transform: uppercase;
    }

    &__services-list {
        position: relative;

        margin:0 0 40px 10px;
    }

    &__services-descr {
        text-transform: uppercase;
        font-size: 20px;
        width: 368px;
        margin-bottom: 16px;
    }

    &__services-item {
        margin: 0 0 10px 30px;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            transform: translateY(4px);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $main-color;
        }
    }


    &__promo-cards {
        display: flex;
        justify-content: space-between;
    }

    &__promo-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 25px 30px 20px 30px;
        width: 185px;
        height: 140px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }

    &__swiper-bg {
        background-image: url('../images/bg/design.png');
        width: 516px;
        height: 682px;
    } 
    &__swiper-paralax-antenna {}   
    &__swiper-paralax-router {}
}

.heroswiper-container {
}
.heroswiper-wrapper {
}
.heroswiper-slide {
}
.heroswiper-pagination {
}
.accent {
    color: $accent;
}
.btn {
}



