.hero {
    padding-top: 55px;
 
    &__wrapper {
        display: flex;
    }


    &__services {
        color: $main-color;
    }
    
    &__services-title {
        font-weight: bold;
        font-size: 48px;
        margin-bottom: 45px;
        text-transform: uppercase;
        line-height: 58px;
    }
    &__services-descr {
        text-transform: uppercase;
        font-size: 20px;
        width: 368px;
        margin-bottom: 32px;
    }

    &__services-list {
        position: relative;
        font-size: 18px;
        margin:0 0 40px 10px;
    }

    &__services-item {
        margin: 0 0 15px 30px;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            transform: translateY(4px);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $main-color;
        }
    }


    &__promo-cards {
        display: flex;
        justify-content: space-between;
    }

    &__promo-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 25px 30px 20px 30px;
        width: 185px;
        height: 140px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
}


.accent {
    color: $accent;
}
.btn {
}





