.swiper-pagination-bullet{
    width: 40px;
    height: 5px;
    border-radius:50px;
    border: 1px solid $main-color;
    background-color: #fff;
    opacity: 1;
    &-active{
        background-color: $main-color;
        
    }

}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

.slider-block {
    padding-top: 10px;
    max-width: 550px;
    margin-right: 90px;
}

.swiper-bg {
    background-image: url('../images/bg/design.png');
    width: 516px;
    height: 682px;
} 
.swiper-slide {
    position: relative;
    height: 760px;
}
.swiper-paralax-antenna {
    position: absolute;
    bottom: 70px;
    right: 0px;
}   
.swiper-paralax-router {
    position: absolute;
    bottom: 50px;
    left: 5px;
}


