.equipment-tabs {

}
.equipment-tabs__nav{

    &-btn {

    }
    .active{
        background-color: rgb(230, 29, 29);
    }
}
.equipment-tabs__content {
    &-item{
        display: none;

        
    }
    .active{
        display: block;
    }
}


